.size-chart {
  background: #f3f1f185;
  padding: 9px 7px 9px 7px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #c7c7c7;
  font-size: 14px;
}
.size-chart-active {
  background: #d0cccc85;
  padding: 9px 7px 9px 7px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  font-size: 14px;
}
.size-btn {
  background: transparent;
  border-style: solid;
  border-color: #000;
  color: #000;
}
.add-cart-btn {
  width: 100%;
  background: transparent;
  border-color: #000;
  color: #000;
}
