.counter-color {
  font-weight: 300;
  color: #878787;
}
.filter-active {
  border-radius: 52px;
  border: 1px solid #000;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  padding: 0 20px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 42px;
    margin-bottom: 10px;
  }
}

.filter {
  background: #ffff;
  border-radius: 52px;
  border: 1px solid #C4C4C4;
  font-size: 12px;
  font-weight: 200;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #878787;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 42px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) { 
    padding: 0 15px
  }
}

.filter:hover {
  border-radius: 52px;
  border: 1px solid #fff;
  background: #C4C4C4;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  color: #000;
  padding: 0 20px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 42px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) { 
    padding: 0 15px
  }
}

.top-border {
  border-top: 1px solid #E5E5E5;
  padding-top: 25px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}
.product-section {
  .card {
    border: 0;
    .card-img-top {
      border-radius: 0 !important;
    }
    .card-body {
      padding: 1rem;
      .card-title {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 19px;
      }
      .card-text {
        color: #878787;
        line-height: 16px;
        margin-bottom: 8px;
        font-size: 14px;
      }
    }
    .price-text {
      font-size: 14px;
      line-height: 16px;
      color: #000;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .mobile-filter-text {
    margin: 6px 0!important;
  }
}